@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    /* display: inline-block; */
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

/* GENERAL SELECTORS */

h2 {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
}

h4 {
    margin-bottom: .5em;
}

form > h4 {
    margin-left: 1em;
}

label {
    margin: 0 1em 0 .25em;
    text-transform: capitalize;
    
}

/* BODY */

body {
    min-width: 100vw;
    padding: 1.5em;
    /* border: 2px solid red; */
}

/* FLEX */

.input-group, .input-group:nth-of-type(6) .input-box:last-of-type {
    display: flex;
    flex-flow: row wrap;
    margin: 1.5em 0;
}

/* OTHER STYLES */

.wrapper {
    margin: 0 auto;
    
    width: 100%;
    max-width: 50em;
}

.input-group:first-of-type {
    margin-top: 0;
}

.input-box {
    padding: 0 1em;

    flex: 1 1 50%;
    
    width: 100%;
    min-width: 230px;
    
    position: relative;
}

.input-box > i {
    position: absolute;
    left: 2.8em; top: 50%;
    transform: translateY(-50%);
}

input::placeholder {
    color: rgba(148, 143, 143, 0.644);
}

input[type="text"], 
input[type="email"],
input[type="tel"],
select,
button {
    width: 100%;
    height: 44px;
    
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    
    box-shadow: none;
    
    padding: .5em 4em;
    margin: .5em 0;
}

input[type="text"]:hover, 
input[type="email"]:hover,
input[type="tel"]:hover,
button:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.input-group:nth-of-type(3) input[type="text"] {
    padding: .5em 1.5em;
    
    height: 30px;
    width: 8.5ch;
}

.input-group:nth-of-type(6) .input-box:last-of-type {
    /* align-items: center; */
    justify-content: space-between;
    margin: 0;
}

.input-group:last-of-type {
    text-align: center;
}

select {
    width: 45%;
    padding: .5em 1em;
    /* padding: 0; */
    border-radius: 0;
}

button {
    background-color: black;
    color: #fff;
    border: none;
    max-width: 200px;
    cursor: pointer;
    box-shadow: 
        0 1px 3px rgba(0,0,0,0.12),
        0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
}

button:hover {
    box-shadow: 
        0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
    color: black;
}
